{% extends 'base.html' %}

{% block content %}
    <div id="register">
	<h2> Register your account </h2>

	{% if registered %}
	<p> Thank you for registering! </p>
	<a href="{ % url 'schedule:main' %}"> Main site </a><br />

	{% else %}
	<p> Register here! </p></br>
	<form id="user_form" method="post" action="{ % url 'schedule:register' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- Display each form, wrap the form as p so each gets a new line -->
		{{ user_form.as_p  }}
		{{ player_form.as_p }}

		<input type="submit" name="submit" value="Register" />
	
	</form>

	{% endif %}
    </div>
{% endblock %}