
html
{

	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #3D3D3D;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #2C383B;
}

/*
a:hover
{
	text-decoration: none;
}
*/

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
	position: relative;
	display: inline-block;
	background-color: #BCD2EE;
	border-style: 1px solid #3D3D3D;
	border-radius: 2px;
	min-width: 30px;
	min-height: 30px;
	color: #3D3D3D;
	float: left;
	margin: 10px 0px;
}

#uploadButton .button {
	position: relative;
	right: 0;
}



/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	display: inline-block;
	margin: 0 2em 2em 0;
	border: 2px solid #3D3D3D;
	width: 250px;
	height: 250px;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* Player formatting                                                             */
/*********************************************************************************/

#id_profile_pic {
	position: relative;
	display: inline-block;
}

#uploadButton {
	position: relative;
	
}

#profile-info {
	margin-left: 5%;
}

/* Fix the height but let the width adjust */
#profile-news img {
	margin: 0 auto;
	width: auto;
	height: 300px;
	max-height: 300px;
}

.caption {
	position: relative;
	display: inline-block;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
}

.player
{
  	width: 49%;                     /* poor approximation for old browsers    */
  	width: calc(49%);         /* standards-based answer for IE9+, FF16+ */
  	width: -moz-calc(49%);    /* support for FF4 - FF15                 */
  	width: -webkit-calc(49%); /* support for Chrome19+ and Safari6+     */
}

.news-caption-wrapper {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	z-index: 0;
}

.news-caption {
	font-size: 10pt;
	color: #FFF;
	text-shadow: 3px 3px 5px #000;
}

.news-caption h3 {
	font-size: 15pt;
	color: #FFF;
}

/*********************************************************************************/
/* Login/registration formatting                                                 */
/*********************************************************************************/

#login
{
	padding: 3em 0em 3em 0em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#register
{
	width: 100%;
}

/*********************************************************************************/
/* Chart styles                                                                  */
/*********************************************************************************/

#chart_div
{
	display: inline-block;
	margin-left: 10%;
}

#chart_Btns
{
	position: absolute;
	left: 90%;
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
/*
	.button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #FFC000;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
}

.button:hover
{
}

.button:active
{
}

.button-big
{
	padding: 1.6em 4em;
	font-size: 1.4em;
	font-weight: 900;
}
*/

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 0em 0em 0em 0em;
		background: #bcd2ee;
		
	}

	#header
	{
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: relative;
		width: 100%;
		display: inline-block;
		padding: 0.25em 0em;
	}
	
	#logo h1
	{
		margin-left: 15%;
		display: inline-block;
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,0.5);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}
	
	#logo .icon
	{
		font-size: 4em;
		color: rgba(255,255,255,1);
	}
	
/*********************************************************************************/
/* Calendar                                                                      */
/*********************************************************************************/

	#calendar-wrapper {
		padding: 20px 20px;
		margin: 20px 20px;
	}
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu-wrapper
	{
		height:	75px;
		width: 100%;
		background: #3D3D3D;
		box-shadow: 0px 3px 3px #3D3D3D;
	}

	#menu
	{
		background: #3D3D3D;
	}
	
	#menu.affix {
		position: fixed;
		top: 0px;
	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 2em 1.5em 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #fff;
	}
	
	#menu a:active, #menu a:visited {
		background: #3D3D3D;
	}
	

#dd .dropdown-menu {
	position: absolute;
	top: 73px;
	left: 0px;
	width: 100%;
	min-width: 100%;
	font-size: 0.75em;
	margin-left: 0px;
	background: #bcd2ee;
	color: #3D3D3D;
	border-top: none;
	border-radius: 0px;
	text-align: left;
	transition: none;
}

#dd .dropdown-menu a {
	background: #BCD2EE;
	color: #3D3D3D;
	padding-bottom: 20px;
}

#dd .dropdown-menu a:hover, #dd .dropdown-menu a:active, #dd .dropdown-menu a:visited {
	background: #BCD2EE;
	color: #3D3D3D;
	-webkit-transform: translateX(3px);
	transform: translateX(3px);
}
/*
#menu .dropdown-menu a:hover {
	background-color: #3D3D3D;
	-webkit-transform: translateX(3px);
	transform: translateX(3px);
}
*/
	
#menu ul.nav a.menubar:hover { 
	background-color: #bcd2ee; 
	color: #3D3D3D;
	height: 75px;
}


/*********************************************************************************/
/* Table                                                                         */
/*********************************************************************************/

#fixture-table {
	margin-top: 20px;
}

#fixture-table th {
	text-align: center;
}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
	#banner-wrapper
{
	overflow: hidden;
	padding: 3em 0em;
	background: #F87979;
}

#banner
{
	overflow: hidden;
	width: 1000px;
	padding: 0px 100px;
	text-align: center;
	color: rgba(255,255,255,.7);
}

#banner a
{
	color: rgba(255,255,255,.9);
}

#banner .box-left
{
	float: left;
}

#banner .box-right
{
	float: right;
}

#banner h2
{
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 3em;
	color: #555555;
}

#banner span
{
	display: block;
	padding-top: 0.20em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #A2A2A2;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 6em 0em;
	border-bottom: 2px solid #E3E3E3;
	text-align: center;
}

#page .button
{
	margin-top: 2em;
}

/*********************************************************************************/
/* Tables                                                                        */
/*********************************************************************************/

#player-table {
	border: 1px solid #DFDFDF;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#player-table td, #player-table th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
}

#player-table th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
}

#player-table td {
	padding: 4px 7px 2px;
	vertical-align: top;
}

/*
.tableentry {
	position: absolute;
	left: 5px;
	margin: 5px 5px 5px 5x;
	padding: 10px 10px;
	clear: both;
}
*/

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

.wrapper {
	min-height: 100%;
	position: relative;
}

#content
{
	padding: 0em 7em;
}

.row .col-height {
	height: 100%;
	display: table-cell;
}

/*********************************************************************************/
/* Forms                                                                         */
/*********************************************************************************/
#user_form {
	position: relative;
	display: inline-block;
	height: 100%;
	text-align: left;
	left: 0%;

}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
	overflow: hidden;
	padding: 2em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
}

#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.3);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}

#stamp .hexagon
{
	background: #3D3D3D;
}

#stamp .hexagon:before {
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 30px solid #3D3D3D;
}
#stamp .hexagon:after {
	border-color: #3D3D3D;
}


/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper
{
	padding-top: 2em;
	padding-bottom: 6em;
	background: #FFF;
	text-align: center;
}

#featured
{
	overflow: hidden;
}

#featured .major
{
	overflow: hidden;
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #E8E8E8;
}

#featured .major h2
{
	font-size: 3em;
}

#featured .major .byline
{
	font-size: 1.3em;
}

#featured .title
{
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #E3E3E3;
}

#featured .title h2
{
	font-size: 1.2em;
}

#featured h2
{
	text-align: center;
}

#featured .icon
{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	background: #2C383B;
	margin: 0px auto 20px auto;
	line-height:  150px;
	font-size: 5em;
	text-align: center;
	color: #FFF;
}

	#header-featured
	{
		height: 30em;
		background-image: url(images/banner.jpg);
		background-position: center;
		background-size: cover;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer-wrapper
{
	height: 80px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	padding: 0em 0em;
	background: #3D3D3D;
	color: rgba(255,255,255,0.5);
}

.clear {
	clear: both;
}
