{% extends 'base.html' %}
{% load static %}

{% block extra_header %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<!-- load AJAX API -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" src = "{% static 'jquery/base.js' %}"></script>

{% endblock %}

{% block title %} Player Statistics {% endblock %}
{% block h1 %} Player Statistics {% endblock %}

{% block content %}

<table id = "player-table" class="table table-bordered" >
<thead>
	<th>Player Name</th>
	<th>Points</th>
	<th>Goals</th>
	<th>Shots</th>
	<th>Assists</th>
	<th>Saves</th>
</thead>
<tbody>
{% for player in players %}
<tr>
<td> {{player.player_nickname}} </td>
<td> {{player.lifetime_points}} </td>
<td> {{player.lifetime_goals}} </td>
<td> {{player.lifetime_shots}} </td>
<td> {{player.lifetime_assists}} </td>
<td> {{player.lifetime_saves}} </td>

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}