{% extends 'base.html' %}
{% load static %}
{% load season_extras %}

{% block extra_header %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<!-- load AJAX API -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!-- Calendar -->
<link rel='stylesheet' href= "{% static 'fullcalendar/fullcalendar.css' %}" />
<script type="text/javascript" src = "{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script type="text/javascript" src = "{% static 'fullcalendar/gcal.js' %}"></script>
<script type="text/javascript" src = "{% static 'jquery/calendar.js' %}"></script>
<script type="text/javascript" src = "{% static 'jquery/base.js' %}"></script>

{% endblock %}

{% block h1 %} Season {{season.name}} {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-sm-12">
		<h1> Season Results </h1>
		<table id="fixture-table" class="table table-bordered">
		<tr>
			<th>Season {{season.name}}</th>
			<th colspan="2">Matches</th>
			<th colspan="2">Games</th>
			<th colspan="2">Goals</th>
		</tr>
		<tr>
			<th>Team</th>
			<th>Won</th>
			<th>Lost</th>
			<th>Won</th>
			<th>Lost</th>
			<th>For</th>
			<th>Against</th>
		</tr>

		{% for row in table %}
		<tr>
			<td>{{row.0}}</td>
			<td>{{row.1}}</td>
			<td>{{row.2}}</td>
			<td>{{row.3}}</td>
			<td>{{row.4}}</td>
			<td>{{row.5}}</td>
			<td>{{row.6}}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
	<div class="col-md-6 col-sm-12">
		<div id="calendar-wrapper">
			<div id="calendar"></div>
		</div>
	</div>
</div>

<div class="row">
	<!-- Collapse for each week -->
	<div class="col-md-6 col-md-offset-3 col-sm-12">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		{% for k,v in games.items|dict_sort %}
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading{{ k }}">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="accordion" id ="click{{k}}" href="#collapse{{ k }}" aria-expanded="true" aria-controls="collapse{{ k }}">
						Week {{ k }}
						</a>
					</h4>
				</div>
				<div id="collapse{{ k }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby ="heading{{ k }}">
					<div class="panel-body">
					{% for g in v %}
						<div class="row">
							{{ g }}
						</div>
					{% endfor %}
					<div class="clear"></div>
					<!-- chart -->
					<div id="chart{{k}}"></div>
					</div>
				</div>
				
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}